body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}
.page-content {
	display: flex;
  min-height: 100vh;
}
main {
	flex-grow: 1;
	margin-top: 64px;
}
.logo-icon {
  margin-right: 5px;
  font-size: 32px;
}